@media screen and (min-width: 1300px) {
  .mobile-nav-container {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .mobile-nav-container {
    display: flex;
    align-items: center;
    position: sticky;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    top: 0;
  }
}

.mobile-nav-inner-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mobile-landscape-link {
  max-width: 44%;
}

.mobile-logo-landscape {
  width: 100%;
}

.hamburger-menu {
  position: absolute;
}
