@media screen and (min-width: 1300px) {
  .mobile-nav-container {
    display: none;
  }
}

@media screen and (max-width: 1300px) {
  .mobile-nav-container {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.mobile-nav-inner-container {
  display: flex;
  justify-content: center;
}

.mobile-landscape-link {
  width: 50%;
}

.mobile-logo-landscape {
  width: 100%;
}

.hamburger-menu {
  position: absolute;
}

.mobile-menu-container {
  position: absolute;
  top: 3rem;
}
