.menu-container {
  position: relative;
}

.menu {
  background: #efefea;
  border-radius: 0.3rem;
  position: absolute;
  top: 2rem;
  left: 1.1rem;
  display: flex;
  min-width: 8rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
}

.menu.active {
  opacity: 0.7;
  visibility: visible;
  transform: translateY(0);
}

.menu ul {
  list-style: none;
  padding: 0.4rem 0;
  margin: 0;
}

.menu li a {
  text-decoration: none;
  color: #492b0f;
  padding: 0.4rem 1rem;
  display: block;
}

.menu-trigger-container {
  padding: 0.1rem 1.1rem;
}

.menu-trigger {
  display: flex;
  font-size: 1rem;
  border-bottom: 1px solid transparent;
}

.menu-trigger:hover {
  cursor: default;
  border-bottom-color: #c42126;
}

.link-text {
  font-size: 1rem;
  color: #492b0f;
}

.menu-item-text {
  white-space: nowrap;
  overflow: hidden;
}

.menu-item-text:hover {
  border-bottom: 1px solid #c42126;
}

.fa-chevron-down {
  padding-left: 2px;
}
