.mobile-menu-container {
  display: flex;
  flex-direction: column;
  /* width: 80%; */
  padding: 0.7rem;
  position: absolute;
  top: 2.1rem;
  left: 0;
  background: #efefea;
  border-radius: 0.3rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0.95;
}

@media screen and (min-width: 1300px) {
  .mobile-menu-container {
    display: none;
  }
}

.mobile-menu-trigger {
  display: flex;
  font-size: 1rem;
}

.mobile-menu-link {
  padding-bottom: 1rem;
}

.mobile-menu-link-list {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
}
