.mobile-menu-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0.7rem;
  position: absolute;
  top: 4rem;
  left: 0;
  background: #efefea;
  border-radius: 0.3rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.3);
  opacity: 0.7;
}

@media screen and (min-width: 1300px) {
  .mobile-menu-container {
    display: none;
  }
}

.mobile-menu-trigger-container {
}
