@media screen and (max-width: 1300px) {
  .top-nav-container {
    display: none;
  }
}

@media screen and (min-width: 1300px) {
  .top-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo-landscape-link {
  max-width: 25%;
}

.logo-landscape {
  width: 100%;
}

.social-logo {
  height: 1rem;
  margin-left: 1rem;
}
