.app-container {
  padding: 4rem 7rem;
  background-color: #e8e4cb;
}

header {
  width: 100%;
}

.banner-image {
  width: 100%;
}

/* Welcome Section */

.welcome-container {
  display: flex;
}

/* First Gen Section */

.first-gen-image-container {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.first-gen-image {
  width: 28%;
  border-radius: 1.2rem;
}
