.app-container {
  padding: 4rem 7rem;
  background-color: #e8e4cb;
}

header {
  width: 100%;
}

.banner-image {
  width: 100%;
  border-radius: 2rem;
}

.banner-image-container {
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.page-content {
  margin: 0 7rem;
}

/* Welcome Section */

.welcome-container {
  display: flex;
}

.welcome-image-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-image-container img {
  width: 100%;
  border-radius: 2rem;
}

.welcome-image-label {
  margin-top: 0.8rem;
  font-size: 0.8rem;
}

.welcome-text-content {
  padding-right: 2rem;
}

.welcome-text-container {
  width: 65%;
}

/* First Gen Section */

.first-gen-image-row {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.first-gen-image-container {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-gen-image {
  width: 100%;
  border-radius: 1.2rem;
}

.first-gen-image-label {
  margin-top: 0.8rem;
  font-size: 0.8rem;
}

/* Sporedrops Section */

.sporedrops-content-container {
  display: flex;
}

.sporedrops-content-container p {
  margin-bottom: 1rem;
}

/* Descendants Section */

.descendants-content-container {
  display: flex;
}

.descendants-text-container {
  width: 65%;
}

.descendants-text-container p {
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.descendants-image-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descendants-image-container img {
  width: 100%;
  border-radius: 2rem;
}

.descendants-image-label {
  margin-top: 0.8rem;
  font-size: 0.8rem;
}

.descendants-image-row {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
}

.descendants-image-row .descendants-image-container {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
