.banner-image {
  width: 100%;
  border-radius: 2rem;
}

@media screen and (min-width: 1300px) {
  .banner-image-container {
    margin-top: 2rem;
    margin-bottom: 4rem;
  }

  .page-content {
    margin: 0 6rem;
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1300px) {
  .banner-image-container {
    margin-bottom: 1rem;
  }
}

/* Welcome Section */

.welcome-title-1 {
  color: #492b0f;
}

.welcome-title-2 {
  color: #c42126;
}

.welcome-container {
  display: flex;
}

@media screen and (max-width: 1300px) {
  .welcome-container {
    flex-direction: column;
  }
}

@media screen and (min-width: 1300px) {
  .welcome-image-container {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1300px) {
  .welcome-image-container {
    width: 100%;
  }
}

.welcome-image-container img {
  width: 100%;
  border-radius: 2rem;
}

.welcome-image-label {
  margin-top: 0.8rem;
  font-size: 0.9rem;
}

.welcome-text-content {
  padding-right: 2rem;
}

@media screen and (max-width: 1300px) {
  .welcome-text-content {
    margin-bottom: 1rem;
  }
}

@media screen and (min-width: 1300px) {
  .welcome-text-container {
    width: 65%;
  }
}
/* First Gen Section */

.first-gen-image-row {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.first-gen-image-container {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-gen-image {
  width: 100%;
  border-radius: 1.2rem;
}

.first-gen-image-label {
  margin-top: 0.8rem;
  font-size: 0.9rem;
}

.first-gen-text {
  margin-bottom: 3rem;
}

/* Sporedrops Section */

.sporedrops-content-container {
  display: flex;
  margin-bottom: 3rem;
  justify-content: space-between;
  align-items: flex-start;
}

.sporedrops-text-container {
  width: 50%;
}

.sporedrops-image-container {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sporedrops-image-container img {
  width: 100%;
  border-radius: 2rem;
}

.sporedrops-content-container p {
  margin-bottom: 1rem;
}

.sporedrops-image-label {
  margin-top: 0.8rem;
  font-size: 0.9rem;
}

/* Descendants Section */

.descendants-content-container {
  display: flex;
  margin-bottom: 3rem;
}

.descendants-text-container {
  width: 65%;
}

.descendants-text-container p {
  margin-bottom: 1rem;
  margin-right: 2rem;
}

.descendants-image-container {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.descendants-image-container img {
  width: 100%;
  border-radius: 2rem;
}

.descendants-image-label {
  margin-top: 0.8rem;
  font-size: 0.9rem;
}

.descendants-image-row {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 3rem;
}

.descendants-image-row .descendants-image-container {
  width: 28%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.color-orange {
  color: #e59623;
}

.mushrohm-friends-container {
  margin-bottom: 3rem;
}
