body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

br {
  display: block;
  margin-top: 2rem;
}

.app-container {
  padding: 4rem 7rem;
  background-color: #e8e4cb;
}

header {
  width: 100%;
}
