body {
  margin: 0;
  font-family: "Crimson Pro", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

@font-face {
  font-family: funFont;
  src: url(./RoundedInformal-5lV8.ttf);
}

.fun-font,
h2 {
  font-family: funFont;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

html {
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

br {
  display: block;
  margin-top: 2rem;
}

.app-container {
  background-color: #e8e4cb;
  min-height: 100vh;
}

.app-container.lock-scroll {
  overflow: hidden;
}

@media screen and (min-width: 1300px) {
  .app-container {
    padding: 4rem 7rem;
  }
}

@media screen and (max-width: 1300px) {
  .app-container {
    padding: 1rem;
  }
}

header {
  width: 100%;
}
