body {
  margin: 0;
  font-family: "Raleway", "Crimson Pro", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
}

@font-face {
  font-family: funFont;
  src: url(./RoundedInformal-5lV8.ttf);
}

.fun-font,
h2,
h4 {
  font-family: funFont;
  margin: 0;
  letter-spacing: 0.05rem;
}

h4 {
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 1300px) {
  h2 {
    font-size: 7vw;
    white-space: nowrap;
    margin-bottom: 1rem;
  }
  h4 {
    font-size: 6vw;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
  /* cursor: default; */
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

p {
  margin: 0;
}

br {
  display: block;
  margin-top: 2rem;
}

.app-container {
  background-color: #fffdef;
  min-height: 100vh;
}

.app-container.lock-scroll {
  overflow: hidden;
}

@media screen and (min-width: 1300px) {
  .app-container {
    padding: 3rem 6rem;
  }
}

@media screen and (max-width: 1300px) {
  .app-container {
    padding: 1rem;
  }
}

header {
  width: 100%;
}
