.highlight-container {
  display: flex;
  justify-content: space-between;
  margin: 2.5rem 0;
}

.sporepower-shrohm {
  width: 25vw;
  height: fit-content;
  border-radius: 1.3rem;
}

.highlight-text {
  width: 35vw;
  font-size: 3.1vw;
}

.transmutation-p2 {
  margin-bottom: 2.5rem;
}

.transmutation-p3 {
  margin-bottom: 2.5rem;
}

@media screen and (max-width: 1300px) {
  .sporepower-shrohm {
    width: 100%;
  }

  .highlight-text {
    width: 100%;
    font-size: 1.7rem;
    margin-bottom: 2rem;
  }

  .highlight-container {
    flex-direction: column-reverse;
    margin: 2rem 0;
  }

  .transmutation-p2 {
    margin-bottom: 2rem;
  }

  .transmutation-p3 {
    margin-bottom: 2rem;
  }

  .page-content h2 {
    white-space: normal;
  }
}
