/* @media screen and (min-width: 1300px) {
  .coming-soon-image-container {
    margin-top: 2rem;
    margin-bottom: 4rem;
    position: relative;
  }

  .coming-soon-image-container img {
    opacity: 0.6;
  }

  .coming-soon-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0;
    opacity: 0.9;
    color: #c42126;
  }
} */

.coming-soon-image-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  /* position: relative; */
}

.coming-soon-overlay {
  margin-top: 2rem;
  color: #c42126;
}
