.nav-links {
  display: flex;
  justify-content: space-between;
}

.nav-link {
  padding: 0.1rem 1.1rem;
  color: #492b0f;
  font-size: 1rem;
}

.nav-link span {
  border-bottom: 1px solid transparent;
}

.nav-link:hover span {
  border-bottom-color: #c42126;
}
